<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tune_share_hub_backend.mapper.playlist.PlaylistMapper">

    <update id="updatePlaylist">
        UPDATE PLAYLISTS
        SET TITLE = #{request.title},
            DESCRIPTION = #{request.description},
            COVER_IMAGE_URL = #{request.coverImageUrl},
            PUBLIC_YN = #{request.publicYn},
            UPDATED_AT = SYSTIMESTAMP
        WHERE PLAYLIST_ID = #{playlistId}
          AND USER_ID = #{userId}
          AND DELETED_AT IS NULL
    </update>
</mapper>
