APP_PORT=8080
JAVA_VERSION=21
SPRING_PROFILES_ACTIVE=docker
SPRING_JPA_HIBERNATE_DDL_AUTO=none

ORACLE_PORT=1521
ORACLE_PASSWORD=change_me_oracle_admin_password
ORACLE_APP_USER=tunehub
ORACLE_APP_PASSWORD=change_me_oracle_app_password

