<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- null 값 JDBC 타입 지정 (Oracle null 에러 방지) -->
        <setting name="jdbcTypeForNull" value="NULL"/>

        <!-- 데이터베이스 snake_case → 자바 camelCase 자동 매핑 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <!-- 개별 등록 방식 -->
        <typeAlias alias="User" type="com.example.tune_share_hub_backend.entity.user.User"/>
        <typeAlias alias="Refresh" type="com.example.tune_share_hub_backend.entity.refresh.Refresh"/>
        <typeAlias alias="SearchHistory" type="com.example.tune_share_hub_backend.entity.searchhistory.SearchHistory"/>
        <typeAlias alias="Like" type="com.example.tune_share_hub_backend.entity.like.Like"/>
        <typeAlias alias="Playlist" type="com.example.tune_share_hub_backend.entity.Playlist"/>
        <typeAlias alias="PlaylistTrack" type="com.example.tune_share_hub_backend.entity.PlaylistTrack"/>
        <typeAlias alias="Comment" type="com.example.tune_share_hub_backend.entity.Comment"/>
        <typeAlias alias="PlaylistResponseDto" type="com.example.tune_share_hub_backend.dto.playlist.PlaylistResponseDto"/>
        <typeAlias alias="ListStringTypeHandler" type="com.example.tune_share_hub_backend.global.config.handler.ListStringTypeHandler"/>

        <!-- 엔티티 패키지 전체 자동 alias 등록 -->
        <!-- <package name="com.example.tune_share_hub_backend.entity"/>-->
    </typeAliases>

    <!-- TypeHandlers 등록 -->
    <typeHandlers>
        <typeHandler handler="com.example.tune_share_hub_backend.global.config.handler.ListStringTypeHandler"/>
    </typeHandlers>
</configuration>
